.errorPage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    color: #FF6060;
    padding-bottom: 50px;
    width: 100%;
}

.errorPage h1 {
    font-size: 200px;
    padding-top: 5%;
}

.errorPage p {
    font-size: 24px;
    padding: 10% 0px 10% 0px;
}

.errorPage a {
    font-size: 12px;
}

/* Media Queries pour rendre le site responsive */

/* Téléphone : max 480px */
@media screen  and (max-width: 480px) {
    .errorPage {
        width: 100%;
        justify-content: flex-start;
        gap: 50px;
    }
    
    .errorPage h1 {
        font-size: 100px;
    }
    
    .errorPage p {
        font-size: 13px;
        width: 60%;
        margin: 0 auto;
    }
}
  
